{%extends 'base.html' %} 
{%load static%}
{%block head%}
	
{%endblock head%}
{% block content%}
	  <link href="{%static 'css/full-slider.css'%}" rel="stylesheet">
	  <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>


        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill">
                	<img class="fill img-responsive" src="http://www.solofondosdepantalla.net/fondos-de-pantalla/Perros/Fondo-de-pantalla-Perros-08.jpg">
					<!--style="background-image:url('http://www.solofondosdepantalla.net/fondos-de-pantalla/Perros/Fondo-de-pantalla-Perros-08.jpg');-->

                	<!--http://img0.es.gtsstatic.com/wallpapers/c9e5386e2acdcbcbbcad4ddc273e6e10_large.jpeg-->
                	
                </div>
                <div class="carousel-caption">
                    <h2 class="sletrero animatede zoomInUp">AYUDA A UN AMIGO A ENCONTRAR UN HOGAR</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill">
                	<img class="img-responsive fill" src="http://elmundoaventuranimal.galeon.com/imagenes/labrador.jpg">
					<!--style="background-image:url('http://elmundoaventuranimal.galeon.com/imagenes/labrador.jpg');"-->
                </div>
                <div class="carousel-caption">
                    <h2 class="sletrero animatede zoomInDown">SÉ FELIZ CON UN COMPAÑERO</h2>
                </div>
            </div>


            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill">
                	<img class="img-responsive fill" src="http://img0.es.ndsstatic.com/wallpapers/036a1afe795500e417bdff95673982aa_large.jpeg">
					<!--style="background-image:url('http://img0.es.ndsstatic.com/wallpapers/036a1afe795500e417bdff95673982aa_large.jpeg');"-->
			    </div>
                <div class="carousel-caption">
                    <h2 class="sletrero animatede zoomIn">HAZ CRECER A TU FAMILIA</h2>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
    {%include 'includes/Perritos.html' %} 
{%endblock content%}

{%block scripts%}

<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
{%endblock scripts%} 